// Typography
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}


// Logo area
.site-header {
  max-height:unset;
  height: 200px;
  flex: 0 auto;
}

@media only screen and (max-width: #{map-get($media-queries, "md")}) {
  .site-header {
    max-height: 100px;
  
    .site-logo {
      background-image: url('/assets/img/logo-inline.svg');
    }
  }
}


h1 {
  font-weight: 700;
}


// Tip Box
.tip-box {
  background: #f2f3f7;
  background-image: url('/assets/img/tip-info.svg');
  background-position: 2rem;
  background-repeat: no-repeat;
  background-size: 3rem;
  border-radius: 1rem;
  padding: $sp-5;
  padding-left: 6rem;
  font-size: 0.85rem;
  line-height: 1.2;

  &.caution {
    background-image: url('/assets/img/tip-caution.svg');
  }

}

// Figures

figure {
  figcaption {
    margin-bottom: 2rem;
    text-align: center;
    font-size: small;
  }
}
